@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(/src/assets/Merriweather-Light.ttf) format('woff2');
  }

  @font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/src/assets/RobotoSlab-Light.ttf) format('woff2');
  }

  @font-face {
    font-family: 'DY Crayon Crumble';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(/src/assets/DK\ Crayon\ Crumble.ttf) format('woff2');
  }
}

@layer components {

  * {
    box-sizing: border-box;
  }

  /* tailwind based classes */

  .mobile_nav_hover {
    @apply hover:bg-gradient-to-r hover:from-primary from-10% hover:via-emphasis via-50% hover:to-primary to-85% 
    md:hover:bg-transparent md:hover:from-transparent md:hover:via-transparent md:hover:to-transparent
  }

  .nav_bg_gradient {
    @apply bg-gradient-to-r from-60% from-primary to-100% to-emphasis
  }

  .animate-spin-reverse {
    @apply animate-spin;
    animation-direction: reverse;
  }

  .contact_form {
    @apply w-[calc(100vw-30px)] xs:w-[300px] h-fit my-6 py-2 md:py-4 px-3 flex flex-col items-start justify-around 
    md:col-start-2 md:col-end-3 md:row-start-1 md:row-end-3 md:self-center md:justify-self-center
    rounded-xl border-[1px] border-slate-500 text-[12px] md:text-[13px] 
    smth_appear md:fadein_left_long bg-gradient-to-tr from-primary/70 from-20% via-bckgrnd/70 via-50% to-emphasis/70 to-100%;
  }

  .form_labels {
    @apply w-full flex my-1 flex-col items-start justify-center font-merri smth_appear;
  }

  .form_selects {
    @apply w-full mt-[2px] px-[8px] py-[5px] border-[1px] rounded-md bg-bckgrnd/50 text-text border-text/40 cursor-pointer shadow-emphasis focus:backdrop-blur-sm focus:shadow-center duration-200
  }

  .form_inputs {
    @apply w-full mt-[2px] border-[1px] rounded-md bg-bckgrnd/50 text-text border-text/40 px-[8px] py-[5px] shadow-emphasis focus:shadow-center focus:backdrop-blur-sm duration-200;
  }

  .form_textarea {
    @apply w-full h-[100px] mt-1 border-[1px] rounded-md bg-bckgrnd/50 text-text border-text/40 px-[8px] py-[5px] text-wrap resize-none shadow-emphasis focus:shadow-center focus:backdrop-blur-sm duration-200
  }

  /* pure css classes */

  .main_background {
    background-image: url('/main_background.webp');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: white;
  }

  .section_box {
    height: calc(100vh - 60px);
    @media screen and (width < 768px) {
      height: calc(100vh - 48px);
    }
  }

  .min_section_box {
    min-height: calc(100vh - 60px);
    @media screen and (width < 768px) {
      min-height: calc(100vh - 48px);
    }
  }

  .text_emphasis {
    text-shadow: 2px 2px 5px #fbfbfeab, -2px -2px 5px #fbfbfeab, -2px 2px 5px #fbfbfeab, 2px -2px 5px #fbfbfeab;
  }

  .zero_opacity {
    filter: opacity(0);
  }

  /* animations */

  .smth_appear {
    filter: opacity(0);
    animation: smth_appear 200ms ease-out forwards
  }

  .smth_appear_slow {
    filter: opacity(0);
    animation: smth_appear 1000ms ease-out forwards
  }

  .smth_appear_longer {
    filter: opacity(0);
    animation: smth_appear 1s ease-out 800ms forwards
  }

  .smth_appear_long {
    filter: opacity(0);
    animation: smth_appear 1s ease-out 1600ms forwards
  }

  .smth_appear_verylong {
    filter: opacity(0);
    animation: smth_appear 1s ease-out 2500ms forwards
  }

  .fadein_down {
    animation: fadein_down 300ms ease-out forwards
  }

  .fadein_down_long {
    filter: opacity(0);
    animation: fadein_down 1s ease-out 200ms forwards
  }

  .fadein_left {
    filter: opacity(0);
    animation: fadein_left 300ms ease-out forwards
  }

  .fadeout_left {
    filter: opacity(1);
    animation: fadein_out 300ms ease-out forwards
  }

  .fadein_left_long {
    filter: opacity(0);
    animation: fadein_left 1s ease-out forwards
  }

  .fadeout_right_long {
    filter: opacity(1);
    animation: fadeout_right 1s ease-out forwards
  }

  .link_box:hover > .draw_menuline {
    float: left;
    animation: draw_menuline 200ms ease-out forwards
  }

  .link_box:not(:hover) > .draw_menuline {
    float: right;
    animation: undraw_menuline 200ms ease-in forwards
  }

  /* keyframes */

  @keyframes smth_appear {
    from {
      filter: opacity(0);
    }
    to {
      filter: opacity(1);
    }
  }

  @keyframes smth_diss {
    from {
      filter: opacity(1);
    }
    to {
      filter: opacity(0);
    }
  }

  @keyframes fadein_down {
    from {
      filter: opacity(0);
      transform: translateY(-30px);
    }
    to {
      filter: opacity(1);
      transform: translateY(0);
    }
  }

  @keyframes fadein_left {
    from {
      filter: opacity(0);
      transform: translateX(30px);
    }
    to {
      filter: opacity(1);
      transform: translateX(0);
    }
  }

  @keyframes fadeout_right {
    from {
      filter: opacity(1);
      transform: translateX(0);
    }
    to {
      filter: opacity(0);
      transform: translateX(-30px);
    }
  }

  @keyframes draw_menuline {
    from {
      width: 0%
    }
    to {
      width: 100%
    } 
  }

  @keyframes undraw_menuline {
    from {
      width: 100%
    }
    to {
      width: 0%
    } 
  }

  /* removing ugly form styles */
  input, select, textarea {
    outline: none
  }

}

